.idea
installed
/code/config*.php
/temp
/images/*
!/images/.gitkeep
/userimages/*
!/userimages/no_imagen.jpg
!/userimages/super.jpg
/updates/*
!/updates/.gitkeep
/uploads/*
!/uploads/.gitkeep
/planosUbicacion/*
!/planosUbicacion/no_plano.jpg