.idea
installed
/code/config*.php
/temp
/images/*
!/images/No_imagen.jpg
/userimages/*
!/userimages/no_imagen.jpg
!/userimages/super.jpg
/updates/*
!/updates/.gitkeep
/uploads/*
!/uploads/.gitkeep
/planosUbicacion/*
!/planosUbicacion/no_plano.jpg